/* breakpoints Bootstrap */

/* X-Small	None	<576px
Small	sm	≥576px
Medium	md	≥768px
Large	lg	≥992px
Extra large	xl	≥1200px
Extra extra large	xxl	≥1400px */


/* debug */

.debug .header_top{
    background-color: aqua;
    /* height: 100px; */
    border: 1px solid greenyellow;
}

.debug  .left_header{
    height: 100px;
    background-color: cornflowerblue;
    border: 1px solid red;
}

.debug .right_header{
    height: 100px;
    background-color:darkcyan;
    border: 1px solid black;
}

.debug .jumbo{
    /* height: 200px; */
    background-color: cadetblue;
}

.debug .jumbo_img{
    height: 100px;
    background-color: greenyellow;
}

.debug .jumbo_title{
    height: 30px;
    background-color: tomato;
}

.debug .star_line{
    height: 20px;
    background-color: orange;
}

.debug .jumbo_nav{
    height: 30px;
    background-color: palegreen;
}

.debug .portfolio{
    /* height: 500px; */
    background-color: lightgrey;
}

.debug .portf_star{
    height: 50px;
    background-color: lightslategrey;
}

.debug .img_portf{
    height: 200px;
    background-color: lightskyblue;
    border: 1px solid black;
}

.debug .about{
    /* height: 380px; */
    background-color: cadetblue;
}

.debug .par{
    height: 150px;
    background-color: lightseagreen;
    border: 1px solid black;
}

.debug .contact{
    background-color: lightgray;
    height: 300px;
}

.debug .form{
    height: 20px;
    border: 1px solid black;
    background-color: lightgreen;
}

.debug .footer_top{
    background-color: darkslategray;
    /* height: 200px; */
}

.debug .footer_bottom{
    background-color: dimgrey;
    height: 100px;
}

.debug .info{
    height: 100px;
    background-color: gold;
    border: 1px solid black;
}

.debug .foot{
    background-color: red;
    height: 20px;
}